# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

json-forwards.h
json.h
Proy1EDD.layout
Proy1EDD.cbp
Proy1EDD.depend
jsoncpp.cpp
include
bin 
json
obj
